h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3D3C3C !important;
}

h4 {
	font-family: 'Open Sans', sans-serif;
}

a {
	font-family: 'Roboto', sans-serif;
}

body {
	font-family: 'Open Sans', sans-serif;	
}

#ctoa {
	font-family: 'Open Sans', sans-serif;	
}

h2 {
	text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.margin-bottom {
	margin-bottom: 40px;
}

.cyan {
	color: #3D839E;
}

.gray2 {
	color: #4a4a4a;
}

span {
	font-family: 'Hind', sans-serif;
	font-size: 1.3rem;
	color: #4a4a4a;
}

p {
	text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.text-left {
	text-align: left;
}

a:hover {
	text-decoration: underline;
}

.semibold {
    font-weight: 600px;
}

.white {
	color: white;
}