

#hero-title {
	padding-top: 40px;
	margin-bottom: 60px;
}

.full {
	height: 100%;
}

.half-top {
	height: 50%;
	vertical-align: bottom;
	display: table-cell;
	vertical-align: bottom;
}

.half-bottom {
	height: 50%;
	vertical-align: top;
}

.about-us-frame {
	max-width: 300px;
	height: 200px;
	margin-top: 60px;
	vertical-align: text-center !important;
}
.about-us-img {
	vertical-align: text-center !important;
	height: 150px;
	width: auto;
}

.steps-icon {
	/*width: 170px;
	max-width: 170px;*/
	height: 230px;
	padding: 30px;
	/*display: block;*/
}

.gray-border {
	border-bottom: 2px solid #E0E0E0;
}

section {
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 40px;
	padding-right: 40px;
}

#splash-bg {
	background-image: url("../imgs/ocean-real.png");
	background-size: 100% 100%;
	background-position: left 0px top 0px;
	background-repeat: no-repeat;
}


@media screen and (min-width: 480px) {
	#splash-bg {
		height: 50vh;
	}
}

@media screen and (min-width: 960px) {
	#splash-bg {
		height: 90vh;
	}
}

.blue-bg {
	background-color: #236F8E !important;
	color: white !important;
}

.container {
	width: 100%;
	max-width: 600px;
}

.top-bar {
	background: transparent !important; 
	li {
		background: transparent !important; 
	}
}

.top-bar a {
	color: #000 !important;
}

header {
	width: 100%;
	max-width: 1200px;
}

#ctoa {
	padding: 15px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: #FB777E;
	color: white;
	box-shadow: 0px 3px 5px 3px white;
	border-color: white;
} 


.top-bar ul {
	background-color: transparent !important;
}

.text-center {
	text-align: center;
}

.top-bar a {
	color: #3D839E !important;
}

.pill-button {
    width: 50%;
    height: 5em;
    margin: 2em auto;
    border-radius: 20%/50%;
    background-color: #000;
    padding: 40px;
}

