.container {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
}

.title {
	margin-bottom: 2rem;
}

.sub-title {
	font-size: 1.5em;
}

.header {
	margin-top: 18rem;
	text-align: center;
}

.header-short {
	margin-top: 8rem;
	text-align: center;
}

.loginBox {
	max-width: 400px;
	margin: 0 auto;
}

.equidistant {
	display: flex;
 	justify-content: space-between;
}

select {
	height: auto !important;
}