

<html>
<head>
<title>LexConnect</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,500" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
<link rel="stylesheet" type="text/css" href="css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script type="text/javascript">
   (function(){
      emailjs.init("user_81tqLSAubmxRExsZGUvH5");
   })();
</script>
</head>

<body>

<div class="container">
	
	<a id="href-logout" class="button u-pull-right">Logout</a>

	<div class="header-short">
		<h3 class="title"><img src="imgs/logo.png" width="32px" height="32px"> LexConnect for Attorneys</h3>
		<br>
	</div>
	<p>All interested clients will be displayed here. Select clients whose cases you are interested in and press 'Connect' to express interest in them. When a client accepts a connection, their contact information will be revealed.</p>
</div>

<div id="queries" class="app_container row">
	<div class="six columns">

<center>
<div>

<table>
	<tr>
		<th>Submission date</th>
		<th>Issue</th>
		<th>Occupation</th>
		<th>Status</th>
	</tr>
	<template v-for="query in queries">
		<tr v-bind:class="{'hovered':(query.id===selectedId && !query.connected), 'card-connected':(query.connected)}" class="card-hover" v-on:click="select(query.id)">
			<td>{{ query.formatted_timestamp }} // {{ query.timestamp }} </td>
			<td>{{ query.query[0].answer }}</td>
			<td>{{ query.employer }}, {{ query.occupation }}</td>
			<td>
				<span v-if="!query.interestExpressed && !query.connected">New</span>
				<span v-if="query.interestExpressed && !query.connected">Reached out</span>
				<span v-if="query.connected">Matched!</span>
			</td>
		</tr>
	</template>
</table>



</div>
</center>

	</div>

	<div class="six columns card" v-bind:class="{'card-connected':(selectedItem.connected)}" v-if="selectedId != -1">

		<div v-if="selectedInterestExpressed && !selectedItem.connected">
			<b>You already expressed interest in this candidate. We will email you if the candidate wishes to chat.</b>
		</div>

		<div v-if="selectedItem.connected"><b>{{ selectedItem.firstName }} {{ selectedItem.lastName }} has connected with you!</b><br> Reach out to {{ selectedItem.firstName }} at <u>{{ selectedItem.user }}</u> or <u>{{ selectedItem.phone }}</u>.</div><br>


		<div v-if="selectedItem.connected">
			<br>Primary address: {{ query.primaryAddress }}
			<br>Secondary address: {{ query.secondaryAddress }}
			<br><br>
		</div>


		<template v-for="item in selectedItem.query">
			<div class="row">
				<div class="six columns">
					{{ item.question }}
				</div>

				<div class="six columns">
					{{ item.answer }}
				</div>
			</div>
			<br>
		</template>

		<div v-if="!selectedInterestExpressed">
			<button id="signup" class="button-primary" v-on:click="connect(selectedItem['_id']['$oid'])" v-if="!selectedItem.connected">Connect</button>
		</div>


	</div>
</div>


<script src="js/libs/DateFormat.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script src="js/libs/tree/QuestionTree.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lockr/0.8.4/lockr.min.js"></script>
<script src="js/libs/LexConnectService.js"></script>
<script src="js/libs/LexUserService.js"></script>
<script src="js/libs/LexQueryService.js"></script>
<script src="js/attorney-dashboard.js"></script>

<script src="js/libs/const/ATTORNEY_REDIRECT.js"></script>
<script src="js/libs/if_logged_in.js"></script>

</body>
</html>