

<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script type="text/javascript">
   (function(){
      emailjs.init("user_81tqLSAubmxRExsZGUvH5");
   })();
</script>
</head>
<body>

<div class="container">
	<div class="header-short">
		<h3 class="title"><img src="imgs/logo.png" width="32px" height="32px"> LexConnect</h3>
		<p class="sub-title">Client Dashboard</p>
	</div>
	<div class="row">
		<div class="twelve columns">
			<div class="loginBox">
				<p>We have notified our attornies of your case! You will be emailed to visit back when attorneys have expressed interest.</p><br>
			</div>
		</div>
	</div>

</div>



<div id="attorneys" class="app_container row">

	<div class="six columns"><center>
		<template v-for="attorney in attorneys">

			<div class="card card-hover" v-bind:class="{hovered:(attorney.id===selectedId)}" v-on:click="select(attorney['_id']['$oid'])">

				<span class="timestamp">Matched {{ query.timestamp }}</span><br>
				Attorney {{ attorney.firstName }} {{ attorney.lastName }} wishes to connect with you!<br>

				<br>{{ attorney.primaryAddress }}<br>{{ attorney.secondaryAddress }}<br><br>

				Firm size: {{ attorney.firmSize }}

			</div>
		</template>
	</center></div>

	<div class="six columns card" v-if="selectedId != -1">
			Website: <a href="{{attorney.url}}" target="_blank">{{selectedItem.url}}</a><br>
			Practice address: {{ selectedItem.primaryAddress }}, {{ selectedItem.secondaryAddress }}
			<Br><br>
			<button id="connect" class="button-primary" v-on:click="connect(selectedItem['_id']['$oid'])">Connect</button>
	</div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script src="js/libs/tree/QuestionTree.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lockr/0.8.4/lockr.min.js"></script>
<script src="js/libs/LexConnectService.js"></script>
<script src="js/libs/LexUserService.js"></script>
<script src="js/libs/LexQueryService.js"></script>
<script src="js/client-dashboard.js"></script>
</body>
</html>