

<html>
<head>
<title>LexConnect</title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet"> 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="container">
	<div class="header-short">
		<h3 class="title"><img src="imgs/logo.png" width="32px" height="32px"> LexConnect</h3>
	</div>

	<div class="row">
		<div class="twelve columns">
			<div class="loginBox">
				<p>Our legal questionnaire will pinpoint attorneys with relevant expertise.</p><br>
			</div>
		</div>
	</div>

	<div id="breadcrumbs">
	<template v-for="item in items">
		<div class="row">
			<div class="six columns">
				{{ item.question }}
			</div>

			<div class="six columns">
				{{ item.answer }}
			</div>
		</div>
		<br>
	</template>
	</div>


		<div id="question">
			{{ question }}
		</div><Br>

		<div id="options">
			<template v-for="item in items">
				<button class="button-secondary" v-on:click="select(item.val, item.key)">{{ item.key }}</button><Br>
			</template>
		</div>

		<div class="row">
			<button v-on:click="submit()" id="submit" class="button-primary u-pull-right" v-show="show">Find an attorney</button>
		</div>

	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script src="js/libs/tree/QuestionTree.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lockr/0.8.4/lockr.min.js"></script>
<script src="js/libs/LexConnectService.js"></script>
<script src="js/libs/LexUserService.js"></script>
<script src="js/libs/LexQueryService.js"></script>
<script src="js/client-new-query.js"></script>

</body>
</html>