
#banner {
	background-image: url("../imgs/light-bl.svg"), 
		url("../imgs/light-br.svg"), 
		url("../imgs/overlay.png"), 
		url("../imgs/splash.jpg")
}

a:hover {
	color: white !important;
}

#top-strip {
	/* Rectangle 2: */
	margin-top: 5em; 
	background-image: linear-gradient(90deg, #6478BA 0%, #429CBF 100%);
}

#vid {
	margin-top: 40px;
	border: 1px solid #7c8081;

	width: 848px;
	height: 480px;
}

#sidebar-links li {
	margin: 0px;
	margin-bottom: 5px !important;
}

#ctoa {
	padding-left: 20px;
}

#question-logo {
	color: #3fb1a3;
}

#question-main {
    background: #f7f7f8 none repeat scroll 0 0;
    border: 1px solid #f6f6f6;
    box-shadow: 3px 8px 14px 3px rgba(147, 147, 147, 0.5);
    padding: 30px;
}

#input-row {
	position: relative;
}

#contact-us-address p {
	margin: 0;
	padding: 0;
}

#index-select {
	background-image: none;
	background-color: #5E474F;
}

.blue-bg { 
	background: linear-gradient(90deg, #6478BA 0%, #429CBF 100%) !important;
	color: white !important;
}

.anchor {
	color: #6478BA;
}

.white {
	color: white;
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}