
.question-option {
	/* Rectangle: */
	background: #FFFFFF;
	border-color: #6478BA !important;
	border-radius: 4px;
	width: 60%;
	color: #333;
}

#question-logo {
	color: #3fb1a3;
}

#question-main {
    background: #f7f7f8 none repeat scroll 0 0;
    border: 1px solid #f6f6f6;
    box-shadow: 3px 8px 14px 3px rgba(147, 147, 147, 0.5);
    padding: 0.3em;
    margin-bottom: 50px;
    color: #000 !important;
}


#email-main {
    background: #f7f7f8 none repeat scroll 0 0;
    border: 1px solid #f6f6f6;
    box-shadow: 3px 8px 14px 3px rgba(147, 147, 147, 0.5);
    padding: 30px;
}

#blue-banner {
	background: linear-gradient(90deg, #6478BA 0%, #429CBF 100%) !important;
	color: white;

    padding: 1em 1em 1em 1em;
    margin-bottom: 1em;
}

#blue-banner h4 {
	margin:0;
}

#blue-banner p {
	vertical-align: middle;
	margin: 0;
	text-align: none !important;
}

#input-row {
	position: relative;
}

#contact-us-address p {
	margin: 0;
	padding: 0;
}

#index-select {
	background-image: none;
	background-color: #5E474F;
}

#optgroup {
    font: 13.3333px Arial;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
}

#email-window {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

#description p {
	margin: 0.25em 1em 1em 1em;
}

.button:hover {
	background-color: #6478BA; 
	color: white;
}

#navButton {
	visibility: hidden;
}

#hidden-form{
	text-align: center;
}
