
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;

	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	background: none;
	border: solid 1px;
	color: inherit;
	cursor: pointer;
	display: inline-block;
	font-size: 0.8em;
	font-weight: 900;
	letter-spacing: 2px;
	min-width: 18em;
	padding: 1.05em 2em 0.95em 2em;

	line-height: 2em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;

	text-align-last:center;
}

#index-select:after {
    content:"▼";    
    color: white;
    padding: 12px 8px;
    position: absolute; right: 10px; top: 0;    
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;      
    pointer-events: none;
    box-sizing: border-box;   
}